--
-- PostgreSQL database dump
--

-- Dumped from database version 13.2 (Debian 13.2-1.pgdg100+1)
-- Dumped by pg_dump version 13.2

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

DROP DATABASE IF EXISTS two_trees;
--
-- Name: two_trees; Type: DATABASE; Schema: -; Owner: postgres
--

CREATE DATABASE two_trees WITH TEMPLATE = template0 ENCODING = 'UTF8' LOCALE = 'en_US.utf8';


ALTER DATABASE two_trees OWNER TO postgres;

\connect two_trees

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: inventory; Type: SCHEMA; Schema: -; Owner: postgres
--

CREATE SCHEMA inventory;


ALTER SCHEMA inventory OWNER TO postgres;

--
-- Name: sales; Type: SCHEMA; Schema: -; Owner: postgres
--

CREATE SCHEMA sales;


ALTER SCHEMA sales OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: categories; Type: TABLE; Schema: inventory; Owner: postgres
--

CREATE TABLE inventory.categories (
    category_id integer NOT NULL,
    category_description character varying(50),
    product_line character varying(25)
);


ALTER TABLE inventory.categories OWNER TO postgres;

--
-- Name: products; Type: TABLE; Schema: inventory; Owner: postgres
--

CREATE TABLE inventory.products (
    sku character varying(7) NOT NULL,
    product_name character varying(50) NOT NULL,
    category_id integer,
    size integer,
    price numeric(5,2) NOT NULL
);


ALTER TABLE inventory.products OWNER TO postgres;

--
-- Name: customers; Type: TABLE; Schema: sales; Owner: postgres
--

CREATE TABLE sales.customers (
    customer_id character(5) NOT NULL,
    company character varying(100),
    address character varying(100),
    city character varying(50),
    state character(2),
    zip character(5)
);


ALTER TABLE sales.customers OWNER TO postgres;

--
-- Name: order_lines; Type: TABLE; Schema: sales; Owner: postgres
--

CREATE TABLE sales.order_lines (
    order_id integer,
    line_id integer NOT NULL,
    sku character varying(7),
    quantity integer
);


ALTER TABLE sales.order_lines OWNER TO postgres;

--
-- Name: order_lines_line_id_seq; Type: SEQUENCE; Schema: sales; Owner: postgres
--

ALTER TABLE sales.order_lines ALTER COLUMN line_id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME sales.order_lines_line_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: orders; Type: TABLE; Schema: sales; Owner: postgres
--

CREATE TABLE sales.orders (
    order_id integer NOT NULL,
    order_date date,
    customer_id character(5)
);


ALTER TABLE sales.orders OWNER TO postgres;

--
-- Name: orders_order_id_seq; Type: SEQUENCE; Schema: sales; Owner: postgres
--

ALTER TABLE sales.orders ALTER COLUMN order_id ADD GENERATED ALWAYS AS IDENTITY (
    SEQUENCE NAME sales.orders_order_id_seq
    START WITH 100
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: categories; Type: TABLE DATA; Schema: inventory; Owner: postgres
--

INSERT INTO inventory.categories VALUES (1, 'Olive Oils', 'Gourmet Chef');
INSERT INTO inventory.categories VALUES (2, 'Flavor Infused Oils', 'Gourmet Chef');
INSERT INTO inventory.categories VALUES (3, 'Bath and Beauty', 'Cosmetics');


--
-- Data for Name: products; Type: TABLE DATA; Schema: inventory; Owner: postgres
--

INSERT INTO inventory.products VALUES ('ALB008', 'Delicate', 1, 8, 10.99);
INSERT INTO inventory.products VALUES ('ALB032', 'Delicate', 1, 32, 18.99);
INSERT INTO inventory.products VALUES ('ALB064', 'Delicate', 1, 64, 22.99);


--
-- Data for Name: customers; Type: TABLE DATA; Schema: sales; Owner: postgres
--

INSERT INTO sales.customers VALUES ('FV418', 'Flavorville', '798 Ravinia Road', 'Des Moines', 'IA', '50320');
INSERT INTO sales.customers VALUES ('WR421', 'Wild Rose', '222 Dakota Lane', 'Kalamazoo', 'MI', '49001');
INSERT INTO sales.customers VALUES ('BX305', 'Bread Express', '3362 Ute Loop', 'Tiffin', 'OH', '44883');


--
-- Data for Name: order_lines; Type: TABLE DATA; Schema: sales; Owner: postgres
--

INSERT INTO sales.order_lines OVERRIDING SYSTEM VALUE VALUES (100, 1, 'HOJ016', 2);
INSERT INTO sales.order_lines OVERRIDING SYSTEM VALUE VALUES (101, 2, 'MAN128', 2);
INSERT INTO sales.order_lines OVERRIDING SYSTEM VALUE VALUES (101, 3, 'MIS032', 1);


--
-- Data for Name: orders; Type: TABLE DATA; Schema: sales; Owner: postgres
--

INSERT INTO sales.orders OVERRIDING SYSTEM VALUE VALUES (100, '2020-10-15', 'BX305');
INSERT INTO sales.orders OVERRIDING SYSTEM VALUE VALUES (101, '2020-10-17', 'GR208');
INSERT INTO sales.orders OVERRIDING SYSTEM VALUE VALUES (102, '2020-10-19', 'BV446');


--
-- Name: order_lines_line_id_seq; Type: SEQUENCE SET; Schema: sales; Owner: postgres
--

SELECT pg_catalog.setval('sales.order_lines_line_id_seq', 60, true);


--
-- Name: orders_order_id_seq; Type: SEQUENCE SET; Schema: sales; Owner: postgres
--

SELECT pg_catalog.setval('sales.orders_order_id_seq', 120, true);


--
-- Name: categories categories_pkey; Type: CONSTRAINT; Schema: inventory; Owner: postgres
--

ALTER TABLE ONLY inventory.categories
    ADD CONSTRAINT categories_pkey PRIMARY KEY (category_id);


--
-- Name: products products_pkey; Type: CONSTRAINT; Schema: inventory; Owner: postgres
--

ALTER TABLE ONLY inventory.products
    ADD CONSTRAINT products_pkey PRIMARY KEY (sku);


--
-- Name: customers customers_pkey; Type: CONSTRAINT; Schema: sales; Owner: postgres
--

ALTER TABLE ONLY sales.customers
    ADD CONSTRAINT customers_pkey PRIMARY KEY (customer_id);


--
-- Name: order_lines order_lines_pkey; Type: CONSTRAINT; Schema: sales; Owner: postgres
--

ALTER TABLE ONLY sales.order_lines
    ADD CONSTRAINT order_lines_pkey PRIMARY KEY (line_id);


--
-- Name: orders orders_pkey; Type: CONSTRAINT; Schema: sales; Owner: postgres
--

ALTER TABLE ONLY sales.orders
    ADD CONSTRAINT orders_pkey PRIMARY KEY (order_id);


--
-- Name: products fk_products_category_id; Type: FK CONSTRAINT; Schema: inventory; Owner: postgres
--

ALTER TABLE ONLY inventory.products
    ADD CONSTRAINT fk_products_category_id FOREIGN KEY (category_id) REFERENCES inventory.categories(category_id);


--
-- Name: orders fk_customers_customer_id; Type: FK CONSTRAINT; Schema: sales; Owner: postgres
--

ALTER TABLE ONLY sales.orders
    ADD CONSTRAINT fk_customers_customer_id FOREIGN KEY (customer_id) REFERENCES sales.customers(customer_id);


--
-- Name: order_lines fk_orders_order_id; Type: FK CONSTRAINT; Schema: sales; Owner: postgres
--

ALTER TABLE ONLY sales.order_lines
    ADD CONSTRAINT fk_orders_order_id FOREIGN KEY (order_id) REFERENCES sales.orders(order_id);


--
-- PostgreSQL database dump complete
--

